.yslygi{
    background-color: rgba(255, 255, 255, 0.849);
   margin-top: 4%; margin-left:10%;
   margin-right:10%;
   padding: 2%;
}
.yslygi a{
    font-family: Century Gothic, sans-serif;
    font-size: 30px;
    
    color: rgb(33, 112, 37);
}
.yslygi p{
   margin-left: 10%;
   margin-right: 10%;
    
    font-weight: 300;
      font-style: normal;
      font-stretch: 100%;
      font-family: MuseoSansCyrl, sans-serif;
}
.first{
    margin-bottom: 0.5%;
font-size: 25px;
font-weight: 100;
color: rgb(121, 84, 84);
  font-style: normal;
  font-stretch: 100%;
  font-family: MuseoSansCyrl, sans-serif;
}
.begin
{
    
        background: url(back.jpg) no-repeat center ;
        background-size: cover;
    
    
	position: relative;
  padding-top: 4.5%;
  margin-bottom: -2%;
}
.beginaa{
    
    color: white;
    font-family: Century Gothic, sans-serif;
   font-size: 4vw;
  
  text-align: center;
  margin-left: 42%;
  
  
  
}
#div1, #div2, #div3, #div4, #div5, #div6, #div7, #div8  {
    display: none;
  }
  #but2, #but22,#but4, #but44,  #but6, #but66, #but8, #but88{
    display: none;
  }
  .yslygi input{
      font-size: 20px;
      color: rgb(46, 84, 209);
      border: none;
      background-color: rgba(185, 144, 68, 0);
  }
  .yslygi li{
    margin-bottom: 4em; 
  }
  .licl{
    margin-left: 10%;  font-size: 15px; font-stretch: 100%;font-family: MuseoSansCyrl, sans-serif;
  }
